// Blues
$color-fancy-blue = #0E96EF
$color-dark-blue = #0f69a4
$color-fade-blue = #5d94b8
$color-ice-blue = #90B0C4

// White
$color-white = #FFF

// Gray
$color-dove-gray = #6B6B6B

// Black
$color-black = #000
$color-midnight = #000924

// Gray
$color-alto = #D4D4D4
$color-botticelli = #d1dee8
$color-gallery = #EAEAEA
$color-shuttle-gray = #556677
$color-tuft-bush = #fafafa
$color-alabaster = #F8F8F8

$color-git-green = #004413
$color-git-red = #400007
$color-git-black = #181B1C

// Dark Theme
$color-shark = #24292D
$color-tuna = #31363f

$color-gull-gray = #9CA5B4
$color-iron = #D6D8DA

// Message colors
$color-java = #21D0A9
$color-disabled-java = #9AE4CB
$color-buttercup = #F5A623
$color-disabled-buttercup = #F6CA86
$color-monza = #D0021B
$color-disabled-monza = #EA959C


