{
    "extends": [
      'plugin:vue/recommended'
    ],
    "rules": {
      "max-len": ["warn", { "code": 80, "tabWidth": 2, "ignorePattern": "^import [^,]+ from" }],
      "eqeqeq": ["error", "always"]
    }
}
