@import "../../ui/colors.styl"

h2.ui-page-title
  color: $color-midnight
  font-size: 36px
  font-weight: normal
  margin-bottom: 20px
  margin-top: 10px

  i
    margin-right: 5px
    width: 50px

  span
    margin-right: 20px