@import "~bootstrap/dist/css/bootstrap.min.css"

.todolist-item

  .item-inner
    display: flex
    align-items: center
    margin: 15px 0

    .text
      margin-right: 10px

    i
      font-size: 16px
      margin-left: 5px
      position: relative
      top: -1px
      vertical-align: middle

      &:hover
        cursor: pointer
